@define-color foreground #c1a99f;
@define-color background #0c1412;
@define-color cursor #c1a99f;

@define-color color0 #0c1412;
@define-color color1 #273C43;
@define-color color2 #4F3C45;
@define-color color3 #12515A;
@define-color color4 #35494B;
@define-color color5 #4B504C;
@define-color color6 #686056;
@define-color color7 #c1a99f;
@define-color color8 #87766f;
@define-color color9 #273C43;
@define-color color10 #4F3C45;
@define-color color11 #12515A;
@define-color color12 #35494B;
@define-color color13 #4B504C;
@define-color color14 #686056;
@define-color color15 #c1a99f;
